body {
  background: lightblue;
  box-sizing: border-box;
}
#weather {
  background: linear-gradient(#e66465, #9198e5);
  color: white;
  width: 200px;
  padding: 7px;
  box-shadow: 3px 4px rgba(67, 66, 66, 0.378);
  div span {
    float: right;
  }
}
img {
  width: 50px;
}
.form {
  padding-top: 15px;
  input {
    border: 0;
    border-radius: 15px;
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.8);
    padding: 3px 10px;
  }
  button {
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 0;
  }
}
